{%  extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/profile.less"/>
{% endblock style %}

{% block content %}
<section class="container plan-section">
    <div class="profile-info">
        <span class="profile-info__avatar"></span>
        <div class="profile-info__list">
            <div class="profile-info__item profile-info__name">{{ student.student_id.first_name }}</div>
            <div class="profile-info__item profile-info__email">{{ student.student_id.email }}</div>
            {% if student.average_mark %}
            <div class="profile-info__item">Середній бал: {{ student.average_mark }}</div>
            {% endif %}
        {% if student.additional_email %}
            <div class="profile-info__item">Додаткова пошта: {{ student.additional_email }}</div>
        {% endif %}
        </div>
    </div>

{% if user_profile %}
<button class="delete_button" data-toggle="modal" data-target="#modalEdit">
                                    <i class="fa fa-edit"></i>
                                </button>

                            <!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Редагування профілю</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/student/{{ request.session.user_id }}" method="post">
      <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="student_id" value="{{ request.session.user_id }}" />
            <input type="number" step="0.01" class="form-control" placeholder="Середній бал" maxlength="10" name="avr_mark" value="{{ student.average_mark}}"><br><br>
            <input type="text" class="form-control" placeholder="Додаткова пошта" maxlength="100" name="s_email" {% if student.additional_email %} value="{{ student.additional_email}}" {% endif %}><br><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" formmethod="get">Зберегти</button>
      </div>
        </form>
    </div>
  </div>
</div>
{% endif %}

    </div>
</section>
{% endblock content %}