{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/profile.less"/>
{% endblock style %}

{% block content %}
    <div class="container plan-section">
        <div class="profile-info">
            <span class="profile-info__avatar"></span>
            <div class="profile-info__list">
                <div class="profile-info__item profile-info__name">{{ request.session.fullName }}</div>
                <div class="profile-info__item profile-info__email">{{ request.session.mail }}</div>
                {% if  teacher.degree %}
                    <div class="profile-info__item">Вчене звання: {{ teacher.degree }}</div>
                {% endif %}
                {% if  teacher.academic_status %}
                    <div class="profile-info__item">Науковий ступінь: {{ teacher.academic_status }}</div>
                {% endif %}
                    <div class="profile-info__item">Посада: {{ teacher.position }}</div>

                {% if  teacher.phone %}
                    <div class="profile-info__item">Номер телефону: {{ teacher.phone }}</div>
                {% endif %}
                {% if  teacher.office %}
                    <div class="profile-info__item">Кабінет: {{ teacher.office }}</div>
                {% endif %}
                {% if  teacher.additional_email %}
                    <div class="profile-info__item">Додаткова пошта: {{ teacher.additional_email }}</div>
                {% endif %}
            </div>
        </div>
    <div class="themes_creator">
        <div class="themes-list">
            <div class="theme_num" >Запланована кількість робіт <span> хххххх </span> </div>
            {% for theme in themes_list %}
            <div class="theme-item">
                    <div class="theme-item__header" data-toggle="collapse" aria-expanded="false"
                         data-target="#theme-det-{{ theme.id }}">
                        <div class="theme-item__info">
                            <span>{{ theme.work_name }}</span>
                        </div>
                        <div class="theme-item__reg">
                            Записані - <span class="theme-item__student-count">{{ theme.student.count }}</span>
                        </div>
                    </div>
                    <div class="collapse theme-item__body" id="theme-det-{{ theme.id }}">
                        <div class="theme-item__info-box">
                            <span class="theme-item__info-name">Спеціальності</span>
                            <div>{{ theme.teacher_offer.specialty.specialty.specialty_name }}
                                - {{ theme.teacher_offer.specialty.year_of_entry }}</div>
                        </div>
                        <div class="theme-item__info-box">
                            <span class="theme-item__info-name">Галузі</span>
                            <div>
                                {% for branch in theme.branch.get_queryset %}
                                    {{ branch }}
                                {% endfor %}
                            </div>
                        </div>
                        {% if theme.student.count > 0 %}
                            <div class="theme-item__student-list-block">
                                <ul class="theme-item__student-list">
                                    <li class="theme-item__field theme-item_col-names">
                                        <div class="theme-item__field-col">ПІБ</div>
                                        <div class="theme-item__field-col">Рік</div>
                                        <div class="theme-item__field-col">Спеціальність</div>
                                        <div class="theme-item__field-col">Статус</div>
                                    </li>
                                    <li class="theme-item__field">
                                        <div class="theme-item__field-col">Пірог РУслана Русланівна</div>
                                        <div class="theme-item__field-col">3</div>
                                        <div class="theme-item__field-col">Компютерні науки</div>
                                        <div class="theme-item__field-col">Чекає підтвердження</div>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        {% if request.session.role == "student" %}
                            <form>
                                <button class="theme-item__button" name="theme_id" value="{{ theme.id }}"
                                        formmethod="get">Записатися
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div>Nothing to show!</div>
            {% endfor %}
        </div>
            <a href="newTheme" class="themes-list__button">Додати</a>
        </div>
    </div>
    </section>

{% endblock content %}