{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/plans.less"/>
{% endblock style %}

{% block content %}
    {% if request.session.role == "methodist" %}
        <div class="new-date">
            <form action="/plan/" method="get">
                {% csrf_token %}
                <div>Група:</div>
                <select class="selectpicker" name="group" required="required">
                    <option value="anything">---</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group }}</option>
                    {% endfor %}
                </select><br>
                <div>Дата передзахисту:</div>
                <input type="date" class="form-control" name="pre-protection" required="required"
                       style="width: 220px"><br><br>
                <div>Дата захисту:</div>
                <input type="date" class="form-control" name="protection" required="required"
                       style="width: 220px"><br><br>
                <button class="themes-list__button" formmethod="get">Додати</button>
            </form>
        </div>

        {% for pr in protection %}
            <div class="theme_container">
                <div class="theme-item">
                    <div class="theme-item__header">
                        <div class="theme-item__info">
                            Кафедра {{ pr.teacher_department.department_name }}- Спеціальність {{ pr.speciality_group }}
                            -
                            | Передзахист: {{ pr.date_of_pre_protection }}
                            | Захист: {{ pr.date_of_confirmation }}
                        </div>
                    </div>
                </div>

                <form class="form_class">
                    <button class="delete_button_big" name="del_date" value="{{ pr.id }}"
                            formmethod="get"><i class="glyphicon glyphicon-remove"></i>
                    </button>
                </form>


            </div>
        {% endfor %}


    {% endif %}
{% endblock content %}