{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/info.less"/>
{% endblock style %}

{% block content %}
    <div class="container mainInfo">
        <div class="stat-list">
            {% for y, w in stats.items %}
                <div class="stat-container">
                    <div class="stat-item">
                        <div class="stat-item__header" data-toggle="collapse" aria-expanded="false"
                             data-target="#stat-det-{{ y }}">
                            <div class="stat-item__info">
                                <span>Статистика за рік</span>
                            </div>
                            <div class="stat-item__reg">
                                <span>{{ y }}</span>
                            </div>
                        </div>
                        <div class="collapse stat-item__body" id="stat-det-{{ y }}">
                            <div class="stat-item__info-box">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Викладач</th>
                                        <th scope="col">Тема</th>
                                        <th scope="col">Студент</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for work in w %}
                                            <tr>
                                                <th scope="col">{{ work.work.teacher_offer.teacher.teacher_id.first_name }}</th>
                                                <th scope="col">{{ work.work.work_name }}</th>
                                                <th scope="col">{{ work.student.student_id.first_name }}</th>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div>Ще немає створених тем</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}