{% load static %}

<header>
    <div class="main-menu">
                <div class="name col-sm-4">
                   <a href="/themes"  class="name"> НаУКМА
                   </a>
                </div>
                <div class="menuItem col-sm-6">
                    <div class="item col-sm-3 ">
                       <a href="/themes"  class="name">ТЕМИ</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/plans" class="name">ПЛАН РОБОТИ</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/themes" class="name">ІНФОРМАЦІЯ</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/themes"  class="name">ПРОФІЛЬ</a>
                    </div>
                </div>
                <div class="item col-sm-2  exit">
                         <a href="/"  class="name">ВИХІД</a>
                         <div class="username">
                            <p>o.radzievska@ukma.edu.ua</p>
                         </div>
                </div>

    </div>
</header>
