{% load static %}

<header>
    <div class="mainMenu">
        <div class="menuText">
            <div class="menuItem">
                <div class="title col-sm-5 ">НаУКМА</div>
                <div class="title col-sm-1 ">Теми</div>
                <div class="title col-sm-1 ">План роботи</div>
                <div class="title col-sm-1 ">Інформація</div>
                <div class="title col-sm-1 ">Профіль</div>
                <div class="title col-sm-3">Вихід</div>
            </div>
            <div class="login">
                <p>o.radzievska@ukma.edu.ua</p>
            </div>

        </div>
    </div>
</header>
