{% load static %}

<header>
    <div class="main-menu">
                <div class="name col-sm-4">НаУКМА</div>
                <div class="menuItem col-sm-6">
                    <div class="item col-sm-3 ">
                       <a href="/themes"  class="name">Теми</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/plans" class="name">План роботи</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/themes" class="name">Інформація</a>
                    </div>
                    <div class="item col-sm-3 ">
                        <a href="/themes"  class="name">Профіль</a>
                    </div>
                </div>
                <div class="item col-sm-2  exit">
                         <a href="/"  class="name">Вихід</a>
                         <div class="username">
                            <p>o.radzievska@ukma.edu.ua</p>
                         </div>
                </div>

    </div>
</header>
