@import "colors.less";
@import "fonts.less";

.footer_main{
    background-color: @mainColor;
    height: 200px;
    width: auto;
}
.footer_text{
    font-family: @fontFamily;
    font-style: @fontStyle;
}