@import "variables.less";

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: white;
  background-color: @mainColor;
  font-weight: bold;
}