@import "colors.less";


.mainMenu{
  background-color: @mainColor;
  height: 75px;
  width: auto;
  color: white;
  padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;

  .name{
    height: 100%;
    font-size: 20px;
  }


    .item{
        display: inline-block;
      text-align: right;
       .name{
         font-size: 18px;
        }
    }
    .exit{

        padding-right: 0px;
      .username{
         font-size: 12px;
      }



  }
}