
.stat {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin-top: 25px;
}

.statistics {
  margin-bottom: 15px;
  flex-basis: 90%;
}

.statistics-header {
  cursor: pointer;
  display: flex;
  flex-basis: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 30px;
  background-color: #dbdbdb;
  border-radius: 5px;
}

.statistics-body {
  flex-direction: column;
  padding: 20px 10px 10px;
  border: 2px solid gray;
  border-top: 0;
}

.statistics-header__info {

}

.statistics-header__count {
  background-color: lightblue;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
}