{% extends "base.html" %}

{% block style %}

    <link rel="stylesheet/less" type="text/css" href="/static/styles/themes.less"/>
{% endblock style %}

{% block content %}
    <section class="container themes-filter">
        <div class="search-panel">
            <form class="search-panel__item">
                <button class="search-panel__button" formmethod="get">Шукати за викладачем</button>
                <input class="search-panel__input" type="text" name="teacher_name" required="required">
            </form>
            <form class="search-panel__item">
                <button class="search-panel__button" formmethod="get">Шукати за темою</button>
                <input class="search-panel__input" type="text" name="work_name" required="required">
            </form>
        </div>
        <form>
            <div class="filter-panel">
            {% if request.session.role == "student" %}
                <div class="filter-item">
                    <span class="filter-item__name">Кафедра</span>
                    <select class="filter-item__dropdown" name="department">
                        <option value="anything">---</option>
                        {% for department in departments %}
                            <option value="{{ department.department_name }}">{{ department.department_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
                <div class="filter-item">
                    <span class="filter-item__name">Галузі теми</span>
                    <select class="selectpicker filter-item__dropdown" multiple data-actions-box="true" name="branch">
                        {% for branch in branches %}
                            <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-item">
                    <span class="filter-item__name">Наукові інтереси</span>
                    <select class="selectpicker filter-item__dropdown" multiple data-actions-box="true" name="interests">
                        {% for branch in branches %}
                            <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-item">
                    <span class="filter-item__name">Статус запису</span>
                    <select class="filter-item__dropdown" name="status">
                        <option value="anything">---</option>
                        <option value="blocked">Затверджені теми</option>
                        <option value="available">Незатверджені теми</option>
                        <option value="empty">Вільні теми</option>
                    </select>
                </div>
                <button class="filter-panel__button" formmethod="get">Фільтр</button>
            </div>
        </form>
    </section>
    <section class="container themes-choose">
        <div class="themes-list">

            {% for theme in object_list  %}

                <div class="theme-item">

                    <div class="theme-item__header {% if theme.id == user_work %} user_theme {% else %} other_theme {% endif %}"
                         data-toggle="collapse" aria-expanded="false"
                         data-target="#theme-det-{{ theme.id }}">
                        <div class="theme-item__info">
                            <span>{{ theme.work_name }}</span> - <span
                                class="theme-item__teacher"><a href="teacher/{{ theme.teacher_offer.teacher_id }}"> {{ theme.teacher_offer.teacher.teacher_id.first_name }}</a></span>
                        </div>
                        {% if  theme.id in booked_records %}
                            <div class="theme-item__reg_booked">
                                Зайнята
                            </div>
                        {% else %}
                            <div class="theme-item__reg">
                                Записані - <span class="theme-item__student-count">{{ theme.student.count }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="collapse theme-item__body" id="theme-det-{{ theme.id }}">
                    {%  if request.session.role != "student" %}
                      <div class="theme-item__info-box">
                            <span class="theme-item__info-name">Галузі</span>
                            <div>
                                {{ theme.teacher_offer.specialty }}
                            </div>
                        </div>
                    {% endif %}
                        <div class="theme-item__info-box">
                            <span class="theme-item__info-name">Галузі</span>
                            <div>
                                {% for branch in theme.branch.get_queryset %}
                                    {{ branch }}
                                {% endfor %}
                            </div>
                        </div>
                        {% if theme.note %}
                            <div class="theme-item__info-box">
                                <span class="theme-item__info-name">Примітка</span>
                                <div>
                                    {{ theme.note }}
                                </div>
                            </div>
                        {% endif %}
                        {% if theme.student.count > 0 %}
                            <div class="theme-item__student-list-block">
                                <ul class="theme-item__student-list">
                                    <li class="theme-item__field theme-item_col-names">
                                        <div class="theme-item__field-col">ПІБ</div>
                                        <div class="theme-item__field-col">Рік</div>
                                        <div class="theme-item__field-col">Спеціальність</div>
                                        <div class="theme-item__field-col">Статус</div>
                                    </li>
                                    {% for record in all_records %}
                                        {% if record.work.id == theme.id %}
                                            <li class="theme-item__field">
                                                <div class="theme-item__field-col"><a href="/student/{{ record.student_id}}">{{ record.student.student_id.first_name }}</a></div>
                                                <div class="theme-item__field-col">{{ record.student.specialty.year_of_entry }}</div>
                                                <div class="theme-item__field-col">{{ record.student.specialty.specialty.specialty_name }}</div>
                                                <div class="theme-item__field-col">{{ record.get_status_display }}</div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if request.session.role == "student" %}
                            {% if theme.id in records and  theme.id not in booked_records and not is_confirmed %}
                                <form>
                                    <button class="theme-item__button" name="theme" value="{{ theme.id }}"
                                            formmethod="get">Виписатися
                                    </button>
                                </form>
                            {% elif theme.id not in records and  theme.id not in booked_records and not is_confirmed %}
                                <form>
                                    <button class="theme-item__button" name="theme_id" value="{{ theme.id }}"
                                            formmethod="get">Записатися
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div>Відповідних тем не знайдено!</div>
            {% endfor %}

        </div>
        </div>
    </section>

    {% endblock content %}