{%  extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/themes.less"/>
{% endblock style %}

{% block content %}
<div class="main-part">
    <div class="search">
        <div class="search-item">
            <button type="button" class="btn col-sm-3">Шукати за викладачем</button>
             <input type="text" class="search-textarea col-sm-8" id="teacher">
        </div>
        <div class="search-item">
            <button type="button" class="btn col-sm-3">Шукати за темою</button>
             <input type="text" class="search-textarea col-sm-8" id="subject">
        </div>

    </div>


</div>
{% endblock content %}