{%  extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/plans.less"/>
{% endblock style %}

{% block content %}
<div class="mainInfo">
    <div class="themeDescription">
        <div class="theme tagName">Тема:</div>
        <div class="themeName tagValue">Особливості реалізації патернів програмування засобами нових редакцій С++</div>
    </div>
    <div class="lecturerDescription">
        <div class="lecture tagName">Викладач:</div>
        <div class="lecturerName tagValue">Бублик Володимир Васильович</div>
    </div>
</div>
<div class="line"></div>
<div class="plan">
    <div class="point main">
        <div class="deadline">1 листопада - 30 листопада </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
    <div class="point main">
        <div class="deadline">1 листопада - 30 листопада </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
    <div class="point">
        <div class="deadline">1 листопада - 30 листопада </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
    </div>
    <div class="point">
            <div class="deadline">1 листопада - 30 листопада </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
        </div>
</div>
{% endblock content %}