{%  extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/plans.less"/>
{% endblock style %}

{% block content %}
{% if work %}
<div class="mainInfo">
    <div class="themeDescription">
        <div class="theme tagName">Тема:</div>
        <div class="themeName tagValue">{{ work.work_name}}</div>
    </div>
    <div class="lecturerDescription">
        <div class="lecture tagName">Викладач:</div>
        <div class="lecturerName tagValue">{{ work.teacher_offer.teacher.teacher_id.first_name }}</div>
    </div>
</div>
<div class="line"></div>
<div class="plan">
<!-- point main - blue-->
{% if protection %}
    {% if  protection.date_of_pre_protection%}
    <div class="point main">
        <div class="deadline"> {{ protection.date_of_pre_protection }} </div>
        <div class="description">Передзахист</div>
    </div>
        {% endif %}
    <div class="point main">
        <div class="deadline">{{ protection.date_of_confirmation }} </div>
        <div class="description">Захист</div>
    </div>
    {% endif %}

 {% for item in plan %}
    <div class="point">
        <div class="deadline">{{ item.deadline }} </div>
        <div class="description"> {{ item.description }} </div>
    </div>
    {% endfor %}
{% else %}
    <div class="themeDescription">
        <div class="themeName tagValue">Інформація з'явиться тут, коли Вас затвердять на одну з тем</div>
    </div>
</div>
{% endif %}
{% endblock content %}