{%  extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/plans.less"/>
{% endblock style %}

{% block content %}
  {%  if request.session.role == "student" %}

<div class="mainInfo">
    <div class="themeDescription">
    <div class="themeDescription">
        <div class="themeName tagValue none-plan">Інформація з'явиться тут, коли Вас затвердять на одну з тем</div>
    </div>
</div>
</div>
     {%  elif request.session.role == "teacher" %}
      <div class="plan_container">
      {%  for work in work_titles %}
                    <a href="{{ work.id }}" class="theme-item__header" name="work_id">
                        <div class="theme-item__info">
                            <span>{{ work.work_name }}</span>
                        </div>
                    </a>
      {% endfor %}
      </div>
     {% endif %}
{% endblock content %}